@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "You can contact me on,";
}
<style>
    hr {
        height: 1px;
        color: #86c232!important;
        background-color: #86c232!important;
        border: none;
    }
</style>
<h2 style="color:#86c232;">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address style="color : #bbbbba ">
    18 Ahmed el Zomor St.<br/>
    Enppi - Nasr City,<br />
    Cairo - Egypt - Africa,<br />
    Earth - Solar System - Milky Way Galaxy.<br />
    <br />
    Phone : (+20) 11-2487-1314<br />
</address>

<address style="color : #bbbbba ">
    <strong>Support:</strong>   <a href="mailto:belalhezzat@gmail.com">belalhezzat@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:e.mohamed@nt-me.com">e.mohamed@nt-me.com</a>
</address>