<style>
    h3 {
        color: #fcb416;
    }
    a {
        color: #bbbbba;
    }
    a:hover {
        color: #fcb416!important;
        

    }
    p {
        color: #bbbbba;
    }
    h4 {
        color: #bbbbba;
    }
    hr {
        height: 1px;
        color: #fcb416!important;
        background-color: #fcb416!important;
        border: none;
    }
</style>
<h3>Error 404 :( :(</h3>
<h3></h3>
<p>Please contact me on @Html.ActionLink("Contact Us","Contact","Home",null) if you are expecting something in this page.</p>
<p></p>
<p></p>
<h4>@Html.ActionLink("Click Here", "Index", "Home") to return to Home Page. ^_^</h4>
