@{
    ViewBag.Title = "Home Page";
}
<style>
    a:hover {
          color: #fcb416!important;
      }
    hr {
        height: 1px;
        color: #fcb416!important;
        background-color: #fcb416!important;
        border: none;
    }
    hr {
        height: 1px;
        color: #fcb416!important;
        background-color: #fcb416!important;
        border: none;
    }
</style>
<div class="jumbotron">
    <h2 style="color:#fcb416;">BelloFlix</h2>
    <hr/>
    <p style="color : #bbbbba "> BelloFlix is a website created to view movies and shows free without any ads, </p>
    <p style="color : #bbbbba "> You can find the latest movies and shows right now just by @Html.ActionLink("Creating an Account", "Register", "Account") or @Html.ActionLink("Logging in", "Login", "Account").</p>
    <hr />
</div>

@*<div class="row">
    <div class="col-md-10">
        <h2 style="color:#fcb416;">First Step</h2>
        <p style="color : #bbbbba ">
            You can see the latest movies and shows in the website with their descriptions, types, genres and more and more.
        </p>
        <input type="button" value="Learn more"
               onclick="window.location.href('@Url.Action("About", "Home")')" />
        //<p><a class="btn btn-default" onclick= "window.location.href('@Url.Action("Contact", "Home")')">Learn more &raquo;</a></p>
    </div>
</div>*@