@{
    ViewBag.Title = "About";
}
<style>
    hr {
        height: 1px;
        color: #86c232 !important;
        background-color: #86c232 !important;
        border: none;
    }
</style>
<h2 style="color:#86c232;">@ViewBag.Title</h2>
<br/>
<h3>You can socialize with your friends once you have created account or logged in</h3>
