@model MVC_Task.ViewModel.MovieList
<style>
    th {
        font-size: 24px;
        color: #fcb416;
        text-align: center;
        line-height: 70px;
        
    }
    tr a {
        color: #bbbbba!important;
    }
    hr {
        height: 1px;
        color: #fcb416!important;
        background-color: #fcb416!important;
        border: none;
    }

    tr {
        color: #bbbbba;
        text-align: center;
        line-height: 40px;
    }
    table {
        margin: auto;
    }
</style>

<h2></h2>
<h2></h2>


<table style="width: 75%">

    <tr>
        <th style ="padding-right: 300px;">Title</th>
        <th style ="padding-right: 100px;">Rating</th>
        <th style ="padding-right: 20px;">Release Date</th>
    </tr>
    @for (int i = 0 ; i<Model.data.Count ; ++i)
    {
        <tr>
            <td style="text-align: left; padding-left: 20px;">@Html.ActionLink(Model.data[i].Title, "GetMovie", "Movies" ,new {id = i},null)</td>
            <td style ="padding-right: 100px;">@Model.data[i].Vote_Average</td>
            <td>@Model.data[i].Release_Date</td>
        </tr>
    }
</table>




